body{
    font-family:Arial,sans-serif;
    background-color:rgb(233, 201, 206);
    padding:10px;
    margin:15px;
}
h1.title{
    color:rgb(0, 46, 197);
    text-align:center;
    margin-bottom:25px;
}
h1:hover{
    color:green;
}
body > div{
    display:flex;
    gap:20px;
}
.lefthalf, .righthalf{
    display:flex;
    justify-content:center;
    border-radius:6px;
    background-color:white;
    flex-wrap:wrap;
    max-height:80vh;
    overflow:auto;
}
.currentTasks table{
    border-collapse:collapse;
    width:100%;
}
.currentTasks td{
    text-align:left;
}
